html, body {
  margin: 0;
  padding: 0;
}
#settingsDiv {
  display:flex;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  justify-content: center;
  padding: 10px;
}
.settings {
  margin: 2px;
  font-family: monospace;
  white-space: pre;
}
canvas {
  display: block;
}
